.gallery {
  /* Size */
  width: 100%;

  /* Display */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;

  /* Background */
  background-color: #F6F6F6;

  /* Margin and padding */
  padding: 4vw 0;
  margin: 2.5vw 0;

  /* Border */
  border-radius: 2vw;
}