.logement-content {
  /* Size */
  width: 85%;
}

.infos {
  /* Size */
  height: 8vw;

  /* Display */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  /* Margin and padding */
  margin-top: 2vw; 
}

.infos__logement {
  /* Size */
  height: 100%;

  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos__logement__tags {
  /* Display */
  display: flex;
  gap: .75vw;
}

.infos__hosting {
  /* Size */
  height: 100%;

  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.details {
  /* Display */
  display: flex;
  justify-content: space-between;

  /* Margin and padding */
  margin: 1.75vw 0;
}