.logement-content {
  /* Size */
  width: 85%;
}

.infos {
  /* Display */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  /* Margin and padding */
  margin-top: 2vw; 
}
