.details-dropdown {
  /* Size */
  width: 47.5%;
}

.details-dropdown .dropdown__header {
  /* Margin and padding */
  padding: 1vw 1.5vw;
}

.details-dropdown .dropdown__header__title {
  /* Font */
  font-size: 1.25vw;
}

.details-dropdown .dropdown__content {
  /* Margin and padding */
  padding-bottom: 3vw;
}

.details-dropdown .dropdown__content__text {
  /* Font */
  font-size: 1vw;
}