.rating {
  /* Size */
  width: 13.5vw;

  /* Display */
  display: flex;
  justify-content: space-evenly;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .rating {
    /* Size */
    width: 25%;
  }
}