.star {
  /* Size */
  width: 2vw;

  /* Display */
  display: flex;
}

.star__img {
  /* Size */
  width: 100%;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .star {
    /* Size */
    width: 4vw;
  }
}
