.title {
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 0.25vw;
}

.title__heading {
  /* Font */
  color: #ff6060;
  font-weight: 400;
  font-size: 2.25vw;

  /* Margin and padding */
  margin: 0;
}

.title__location {
  /* Font */
  color: #ff6060;
  font-weight: 400;
  font-size: 1.25vw;

  /* Margin and padding */
  margin: 0;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .title {
    /* Size */
    width: 85%;

    /* Display */
    gap: 2vw;
  }

  .title__heading {
    /* Font */
    font-size: 4.5vw;
    line-height: 6vw;
  }

  .title__location {
    /* Font */
    font-size: 3.5vw;
  }
}
